:root {
  --darkergrey:#b6b6b6;
  --darkgrey:#dbd8d8;
  --lightgrey:#f7f7f7;
  --white: #ffffff;
  --lightblack: #333;
  --black:#000;
  --bordo: #b94e4e;
  --lightbordo:#b04d4db6;
  --pink:#d7a5a5;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--lightgrey);
  margin: 0;
}

.outBox {
  width: 415px;
  background:var(--darkgrey);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px var(--darkgrey);
}

.todo-container {
  width: 350px;
  background:var(--white);
  padding: 10px 40px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px var(--darkergrey);
  border: 1px solid var(--darkgrey);
}


/* Title */
.todo-title {
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  color: var(--bordo);
  margin: 0 0 20px;
}

/* Input field*/
.todo-input {
  width: 100%;
  padding: 10px 15px 10px 0px;
  text-indent: 25px;
  font-size: 1.2em;
  border: 2px solid var(--darkgrey);
  color: var(--black);

}

.input-wrapper {
  position: relative;
  width: 100%;
}

.toggle-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-45%);
  font-size: 20px;
  color: var(--darkgrey);
  cursor: pointer;
}

.todo-input:focus {
  border: 2px solid transparent;
  outline: none;
  box-shadow: 0 0 15px 2px var(--lightbordo);
  
}

.todo-input::placeholder {
  color: var(--darkergrey);
  font-style: italic;
}


.todo-list {
  list-style: none;
  padding: 10px;
  margin: 0px;
}

/* todos style*/
.todo-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid var(--lightgrey);
  font-size: 1.1em;
  color: var(--lightblack);
}

/* empty circle design */
.todo-item input[type="checkbox"] {
  appearance: none;
  border: 2px solid var(--darkergrey);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: -5px;
  cursor: pointer;
  transform: translateY(-20%);
  
}

/* Filled circle for completed tasks*/
.todo-item input[type="checkbox"]:checked {
  background-color: var(--bordo);
  border-color: var(--bordo);
}

/* Strikethrough text for completed tasks */
.todo-item input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  color: var(--darkgrey);
}

/* Footer with options */
.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: var(--lightblack);
  margin-top: 20px;
}

/* Filter buttons */
.todo-filters {
  display: flex;
  gap: 10px;
}

.todo-filters button {
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--lightblack);
}

.todo-filters button.active {
  border: 1px solid var(--pink);
  border-color: var(--bordo);
  color: var(--bordo);
  border-radius: 10%;
}